/external_
.DS_Store
.idea/

CVS
external/mcl/bin/*.exe
external/mcl/lib/*.a
external/mcl/lib/*.so
external/mcl/lib/*.dylib
external/mcl/obj/*.d
external/mcl/obj/*.o

*.class
GPATH
GRTAGS
GTAGS
*.swp
.cvsignore
external/bls/bin/*.exe
external/bls/lib/*.a
external/bls/lib/*.so
external/bls/lib/*.dylib
external/bls/obj/*.d
external/bls/obj/*.o
